<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lista de Tareas</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
<div class="container mt-5">
    <h2>Lista de Tareas</h2>
    <table class="table table-bordered">
        <thead>
        <tr>
            <th>ID</th>
            <th>Nombre</th>
            <th>Descripción</th>
            <th>Fecha de Inicio</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="tarea : ${tareas}">
            <td th:text="${tarea.id}"></td>
            <td th:text="${tarea.nombre}"></td>
            <td th:text="${tarea.descripcion}"></td>
            <td th:text="${#dates.format(tarea.fechaInicio, 'yyyy-MM-dd')}"></td>
        </tr>
        </tbody>
    </table>
    <a href="/tareas/nueva" class="btn btn-primary">Registrar Nueva Tarea</a>
    <a href="/" class="btn btn-danger">Inicio</a>
</div>
</body>
</html>